@source "./src/**/*.{ts,tsx}";

@import "./styles/shared/design-tokens.css";
@import "./styles/shared/markdown.css";

/* Generate the utilities used by this package */
@custom-variant dark (&:is(.dark *));
@import "tailwindcss";
